<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
        <ul>
            <li><a href="/Mei" title= "Mei">Mei</a></li>
             <li><a href="/Ray" title= "Ray">Ray</a></li>
              <li><a href="/Yin" title= "Yin">Yin</a></li>
               
        </ul>
  </nav>