<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Mei is student in interactive web design program. She like this program and wants to find a job after graduate.
</p>
  </body>
</html>